@font-face {
    font-family: 'Lexend Zetta';
    src: url('../../Font/LexendZetta-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.divSearch{
    
  font-family: 'Lexend Zetta', sans-serif;
    background-color:rgba(0, 0, 0, 0.368);
    border-top: 9px solid black;
    margin-top: -30px;
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 22vh;
      color:white;
      
  }
  
  .formLink{
    
      font-size: 30px;
     
      border-radius: 10px;
       color: white;
      text-align: center;
       padding-left: 40px;
       padding-right: 40px;
       text-decoration: none;
      padding-top: 28px;
       font-weight: 700;
       
  }
  
  .formLink:hover{
      color:blue;
  }
  
  
  
  .divTemperaments{
     
      display: flex;
      flex-direction: column;
      justify-content: end;
      font-size: 20px;
      font-weight: 700;
      margin-left: 40px;
      text-align: center;
      width: 350px;
      padding-bottom: 10px;
      margin-top: 60px;
  }
  .divTemperamentsSelect{
      height: 4vh;
      width: 145px;
     margin-left: 5px;
  }
  .divTemperamentsSelect2{
    height: 4vh;
    width: 145px;
   margin-left: -70px;
}


  
  .buscar{
      height: 4vh; 
      width: 30vh; 
      text-align: center;
      margin-top: 20px;
  }
  
  .select{
      display: inline;
      margin: 4px;
     
     left:0px;
     height: 10vh;
     padding-top: 4px;
  }
  
  .divTemperamentsSelectOption{
      height: 4vh;
      text-align: center;
      font-size: 14px;
  }
  
  .labelOrigen{
    
      margin-top:-120px;
      margin-right:86px
  }
  
  .breed{
      height: 6vh;
      width: 60vh;
      text-align: center;
  }
  
  .divBreed{
     
      width: 50vh;
     text-align: center;
      font-size: 22px;
      padding-bottom: 60px;
      margin-left: 280px;
      padding-top: 50px;
  }
  
  .divCreate{
      
      width: 40vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
     padding-left: 30px;
     padding-top: 40px;
     margin-left: 300px;
  }
  
  .order{
      height: 4vh;
      width: 18vh;
      text-align: center;
    
     margin-top:10px
  }
  
  .breed{
      text-decoration: none;
      font-size: 22px;
      color: white;
      font-weight: 700;
      
  }
  
  .error{
      color: white;
  }
  
  .breed:hover{
      color:blue;
  }

  .labelOrigen{
    margin-left: 27px;
  }