@font-face {
    font-family: 'Orbitron';
    src: url('../../Font/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .lading{
    padding: auto;
    background: url("../../Img/f34.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
  
  .h1N {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.693);
    color: white;
    height: 70px;
   
  }





.container{
    display: flex;
  justify-content: center; /* Centrar horizontalmente */
  /* Centrar verticalmente */
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;

  
 
}

@keyframes shineAround {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


.container2{
  background-color: RGB(25,42,3);
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 30px;
 
 background-color: black;
  animation: shineAround 4s linear infinite;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

.link:hover{
  font-size: 36px;
}
@keyframes slowGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}



.h2{
    background-color: black;
    color:aliceblue;
    width: 300px;
    animation: slowGlow 5s infinite;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}


.p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.784);
  color: aliceblue;
}