.container{
    background-color:rgba(0, 0, 0, 0.69);

    
  
    height: 65vh;
    width: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     color: white;
  
     
}

.id{
    color:blue
}

.imgGame{
    width: 30vh;
    height: 35vh;
    border-radius: 30px; 
}

.nombre{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}


.teams{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    font-size: 16px;
}